ConfigArgParse==0.13.0
h5py==2.8.0
ipykernel==5.1.0
ipython==7.1.1
japanize-matplotlib==1.0.4
jupyter-core==4.4.0
MarkupSafe==1.1.0
matplotlib==3.0.2
munkres==1.0.12
numpy==1.15.4
opencv-python==3.4.7.28
pandas==0.23.4
progressbar==2.5
scipy==1.1.0
sklearn==0.0
